// COMPASS
@import compass
// BASE THEME
@import ../../../_theme/theme

$temp_color: #868990
$temp_light_color: #6089f1
$temp_dark_color: #4666b8
$temp_color2: #ffffff
$temp_width: 640px
$temp_margin: (170px / 2)
$temp_padding: 20px

/* FONTS */
+font-face("pt-sans", font-files("pt_sans-narrow-web-regular-webfont.ttf", "pt_sans-narrow-web-regular-webfont.woff"), "pt_sans-narrow-web-regular-webfont.eot")
+font-face("raleway", font-files("raleway_thin-webfont.ttf", "raleway_thin-webfont.woff"), "raleway_thin-webfont.eot")
+font-face("blair", font-files("BlairMdITC.ttf", "BlairMdITC.woff"), "BlairMdITC.eot")

/* OVERRIDES */
body
	background: #ccc
	color: $temp_color
	font-size: 14px
	font-family: pt-sans

p
	font-weight: normal
	font-size: 1em

.module
	display: block
	clear: both
	width: $temp_width
	background: none
	margin: 0 $temp_margin

.gradient
	@include background-image(linear-gradient(#666, #222 45%, #222 60%, #666))

.gradient_dark
	@include background-image(linear-gradient(#666, #222 70%))

.bottom_shadow
	@include box-shadow(rgba(#000, 0.7) 0 5px 15px)

/* SHARE */
.share_module
	padding: 10px 0 40px

	.share_links
		li
			float: left

	.share_link
		width: 20px
		height: 26px

		&.facebook
			background: url("img/fb_icon.png") center bottom no-repeat transparent
		&.tweet
			background: url("img/twitter_icon.png") center bottom no-repeat transparent

/* SECTION */
.banner_module
	text-transform: uppercase
	text-align: center
	background: $temp_color2
	border: $temp_padding solid $temp_color2
	width: $temp_width - ($temp_padding * 2)

	.title_1
		font-size: 2.1em
		color: $temp_light_color
		font-family: raleway

	.title_2
		font-size: 4em
		color: $temp_dark_color

	.title_3
		position: relative
		top: 0
		left: -80px
		width: 760px
		min-height: 80px
		max-height: 80px
		padding: 10px 0
		font-size: 3.5em
		font-family: blair
		color: $temp_color2
		background: url("img/banner.png") no-repeat transparent
		@include text-shadow(rgba(#000, 0.3) 0 2px 5px)

	img
		@include box-shadow(rgba(#000, 0.3) 0 2px 15px)

	p
		text-transform: none
		padding: 15px 0 0
		text-align: left
		font-family: raleway

/* SWEEPS */
.holder
	margin: ($temp_padding + 10) auto $temp_padding

	.sweeps_registration_module
		float: left
		background: $temp_color2
		border: $temp_padding solid $temp_color2
		min-width: 0
		width: 360px - ($temp_padding * 2)
		margin: 0

		h2
			font-size: 1.5em
			color: $temp_light_color
			text-transform: uppercase
			margin-bottom: 5px

		p

		.form_wrap
			background: none
			border: 0
			padding: 0

			form
				font-size: .85em
				.row
					border: none
					padding: 2px 5px
					margin: 10px 0

					label
						padding-top: 5px

					input:focus
						outline: 2px solid #aaa

					input[type=text]
						width: 100%
						height: 30px
						padding: 10px 15px
						border: 1px solid #aaa
						@include border-radius(4px, 4px)

					label
						color: #aaa

					input[type=checkbox]
						margin-top: 2px
						border: 1px solid #aaa

					input[type=submit]
						display: block
						float: right
						margin: 0
						padding: 4px 15px 0
						height: 30px
						border: 1px solid #aaa
						@include border-radius(4px, 4px)
						@include background-image(linear-gradient(#fff, #ccc 80%))

	/* IMAGE */
	.image_module
		clear: none
		float: right
		border: ($temp_padding - 5) solid $temp_color2
		width: auto
		margin: 0

/* MENU */
.menu_module
	padding: 8px 0 6px
	width: $temp_width
	border: 0px

	nav
		margin: 20px auto
		text-align: center

		ul
			text-align: center
			margin: 0 auto
			display: table

			li
				display: table-cell

				a
					padding: 0
					text-transform: uppercase
					font-size: 1.1em
					color: $temp_color2

					&:hover, &.active
						text-decoration: underline

					&:before
						content: '|'
						margin: 0 20px

				&:first-child a
					&:before
						content: ''
						margin: 0
